<mat-toolbar
  color="primary"
  fxFlex="100vw"
  style="position: fixed; padding: 0; z-index: 9"
>
  <div *ngIf="!edit" fxFlex="100" fxLayoutAlign="space-between center">
    <button mat-button routerLink="/clientes">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <span fxFlex="60" style="contain: content">{{ data?.nome }}</span>

    <button mat-button>
      <mat-icon>photo_camera</mat-icon>
    </button>
    <input
      type="file"
      (change)="inputFileChange($event)"
      style="
        opacity: 0;
        width: 32px;
        height: 24px;
        position: absolute;
        right: 16px;
      "
    />
  </div>

  <div *ngIf="edit" fxFlex="100" fxLayoutAlign="space-between center">
    <button mat-button (click)="edit = !edit">
      <mat-icon>highlight_off</mat-icon>
    </button>

    <span>Cadastro Completo</span>

    <button mat-button>
      <mat-icon>done_outline</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div
  *ngIf="!loading && !edit"
  style="margin-top: 56px; margin-bottom: 56px; width: 100vw"
>
  <mat-list>
    <mat-list-item (click)="edit = !edit">
      <div fxFlex fxLayoutAlign="center center" fxFlex="77">
        <div
          mat-list-icon
          fxLayoutAlign="center center"
          [style]="data?.nome || '' | iconColor"
          class="icon"
        >
          <span fxLayoutAlign="center center">
            {{ data?.nome || "" | iconCustomer }}
          </span>
        </div>
        <div fxFlex style="margin-left: 16px" fxFlex="80">
          <div mat-line>
            {{ data?.nome }}
          </div>
          <div mat-line>
            {{ data?.telefone1 || "" | formatPhone }}
          </div>
          <div mat-line>
            {{ data?.email }}
          </div>
        </div>
      </div>

      <a href="tel:{{ data?.telefone1 }}" target="_blank">
        <button mat-icon-button aria-label="Telefone">
          <mat-icon style="color: black">phone</mat-icon>
        </button>
      </a>

      <a
        href="https://api.whatsapp.com/send?phone=55{{
          data?.telefone1
        }}text=Ol%C3%A1"
        target="_blank"
      >
        <app-whatsapp-icon></app-whatsapp-icon>
      </a>
    </mat-list-item>
  </mat-list>

  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Dados">
      <div style="height: calc(100vh - 300px)">
        <app-customer-complete-registration [data]="data">
        </app-customer-complete-registration>
      </div>
    </mat-tab>

    <mat-tab label="Histórico">
      <div style="height: calc(100vh - 300px)">
        <app-record-list></app-record-list>
      </div>
    </mat-tab>

    <mat-tab label="Documentos">
      <mat-grid-list cols="2" rowHeight="1:1" style="margin-top: 16px">
        <mat-grid-tile
          *ngFor="let photo of photos"
          style="background-color: #fafafa"
          ><img style="max-width: 100%; max-height: 100%" src="{{ photo.url }}"
        /></mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
  </mat-tab-group>
</div>
