<app-header [isPrivate]="true" class="w-full">
  <div class="flex items-center w-full">
    <button mat-button (click)="onMenuButtonClick()">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="flex title">
      <app-schedule-header-desktop *ngIf="(screenSize$ | async) !== 'mobile'" (action)="onNavigateButtonClick($event)" />
      <p class="text !m-0">
        {{ calendarDateTitle }}
      </p>
    </div>

    <button mat-icon-button aria-label="Adicionar Agendamento" class="schedule-add-button" (click)="onAddButtonClick()">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </div>
</app-header>
