<section class="py-12 my-24 bg-slate-50 dark:text-gray-900">
	<div class="grid max-w-6xl grid-cols-1 px-6 mx-auto lg:px-8 md:grid-cols-2 md:divide-x md:divide-purple-700">
		<div class="py-6 md:py-0 md:px-6 sm:fle-col justify-center mx-auto ">
			<h2 class="text-base font-semibold tracking-wide text-indigo-600 uppercase">Contato</h2>
			<p class="my-12 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
				Entre em contato
			</p>
			<div class="space-y-4 mt-12">
				<p class="flex items-center">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mr-2 sm:mr-6" fill="#673ab7">
						<path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path>
					</svg>
          <a href="http://" target="_blank" rel="noopener noreferrer">
            <span>Belo Horizonte, 9999, MG</span>
          </a>
				</p>
				<p class="flex items-center">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mr-2 sm:mr-6" fill="#673ab7">
						<path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"></path>
					</svg>
          <a href="tel:+">
            <span>(99) 99999-9999</span>
          </a>
				</p>
				<p class="flex items-center">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mr-2 sm:mr-6" fill="#673ab7">
						<path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
						<path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
					</svg>
          <a href="mailto:">
            <span>contact&#64;sysmei.com</span>
          </a>
				</p>
			</div>
			<img src="/assets/images-landing-page/contact.svg" alt="" class="p-6 h-52 md:h-64">
			<small class=""><a href="https://storyset.com/work">Work illustrations by Storyset</a></small>
		</div>
    <form novalidate="" class="flex flex-col py-6 space-y-6 md:py-0 md:px-6" action="mailto:contato@sysmei.com" method="post" enctype="text/plain">
      <label class="block">
        <span class="mb-1">Nome completo</span>
        <input type="text" name="name" placeholder="João Roberto" class="block w-full p-2 rounded-md shadow-sm focus:dark:ring-purple-400 dark:bg-gray-100">
      </label>
      <label class="block">
        <span class="mb-1">E-mail</span>
        <input type="email" name="email" placeholder="exemplo@gmail.com" class="block w-full p-2 rounded-md shadow-sm focus:dark:ring-purple-600 dark:bg-gray-100">
      </label>
      <label class="block">
        <span class="mb-1">Messagem</span>
        <textarea name="message" placeholder="Escreva sua mensagem aqui" rows="3" class="block w-full p-2 rounded-md focus:dark:ring-purple-400 dark:bg-gray-100"></textarea>
      </label>
      <button type="submit" class="self-center px-8 py-2 text-lg rounded focus:ring-opacity-75 dark:bg-[#673ab7] dark:text-gray-50 focus:dark:ring-[#673ab7] hover:dark:bg-purple-600">Enviar</button>
    </form>
	</div>
</section>
