<mat-form-field class="w-full">
  <mat-label>{{ label }}</mat-label>
  <input matInput [type]="type" [formControl]="password" minlength="6" [required]="required" />
  <mat-error *ngIf="password.hasError('required')"> A senha é <strong>obrigatório</strong> </mat-error>
  <mat-error *ngIf="password.hasError('minlength')"> A senha deve ter <strong>no mínimo 6 caracteres</strong> </mat-error>

  <mat-error *ngIf="password.hasError('passwordNotEqual')"> A senha não confere </mat-error>
  <mat-icon style="cursor: pointer" matSuffix *ngIf="type == 'text'" (click)="type = 'password'">remove_red_eye</mat-icon>
  <mat-icon style="cursor: pointer" matSuffix *ngIf="type == 'password'" (click)="type = 'text'">visibility_off</mat-icon>
</mat-form-field>
