<div>
  <mat-toolbar *ngIf="!loading" color="primary" fxLayoutAlign="space-between center">
    <button fxFlex="20" mat-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <div fxFlex="60" style="overflow: scroll; text-align: center;">
      <p style="margin: 0; color: white;  font-size: 16px; ">
        {{calendarDateTitle}}
      </p>
    </div>

    <button
      mat-icon-button
      aria-label="Adicionar Agendamento"
      fxFlex="20"
    >
      <mat-icon style="font-size: 30px; color: white"
        >add_circle_outline</mat-icon
      >
    </button>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #snav>
      <app-menu></app-menu>
    </mat-sidenav>

    <mat-sidenav-content style="overflow: hidden; height: 100vh;">
     
      
      <full-calendar
      #calendar
      *ngIf="!loading"
      [options]="calendarOptions"
      ></full-calendar>
      <app-calendar-naviagtion  *ngIf="!loading" [title]="calendarDateTitle" (action)="calendarNavigate($event)"></app-calendar-naviagtion>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
