.title {
    overflow: auto; 
    text-align: center;

    .text {
        margin: 0; 
        color: white;  
        font-size: 16px;
        margin-top: 4px;
    }

    .content {
        height: 100vh;
    }
}