<div mat-dialog-content>
  <p class="text-xl flex w-full justify-center p-4">
    {{ !data.id ? 'Cadastrar agendamento' : 'Editar agendamento' }}
  </p>

  <form class="flex flex-col" [formGroup]="form">
    <mat-form-field appearance="fill" *ngIf="hiddenEmployee">
      <mat-label>Atendente</mat-label>
      <mat-select formControlName="employee" required>
        <mat-option *ngFor="let employee of employeeData" [value]="employee">
          {{ employee.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="flex">
      <mat-label>Nome do Serviço</mat-label>
      <input matInput placeholder="Nome do Serviço" autocomplete="off" type="text" formControlName="title" name="title" required />
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <mat-label>Cliente</mat-label>
      <input
        type="text"
        placeholder="Pesquise um Cliente"
        aria-label="Pesquisa de Cliente"
        matInput
        formControlName="customer"
        [matAutocomplete]="auto"
        required
      />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayCustomer">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option.text }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div class="flex justify-between items-center">
      <mat-form-field class="w-1/3">
        <mat-label>Data</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="allDay" required readonly />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="w-1/3">
        <mat-label>Início</mat-label>
        <input matInput type="time" formControlName="start" name="timeStart" required />
      </mat-form-field>

      <mat-form-field class="w-1/3">
        <mat-label>Fim</mat-label>
        <input matInput type="time" formControlName="end" name="timeEnd" required />
      </mat-form-field>
    </div>

    <div class="flex justify-between">
      <mat-form-field class="w-2/5">
        <mat-label>Valor</mat-label>
        <input matInput placeholder="Valor" formControlName="valor" name="valor" type="text" mask="separator" prefix="R$ " thousandSeparator="." />
      </mat-form-field>

      <mat-form-field class="w-2/5">
        <mat-select formControlName="pagamento" name="pagamento" placeholder="Forma de Pagamento">
          <mat-option value="Dinheiro">Dinheiro</mat-option>
          <mat-option value="Cartão de Débito">Cartão de Débito</mat-option>
          <mat-option value="Cartão Crédito">Cartão Crédito</mat-option>
          <mat-option value="Pix">Pix</mat-option>
          <mat-option value="Cheque">Cheque</mat-option>
          <mat-option value="Fiado">Fiado</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field class="100%">
      <mat-label>Detalhes</mat-label>
      <textarea matInput placeholder="Detalhes" formControlName="detalhes" name="detalhes"></textarea>
    </mat-form-field>
  </form>
</div>
<div class="flex justify-end items-center">
  <button *ngIf="data.hasDelete && data != null" color="warn" mat-icon-button aria-label="Excluir" (click)="onDelete(data)">
    <mat-icon>delete</mat-icon>
  </button>
</div>

<app-action-buttons
  class="p-2"
  [disableConfirmButton]="form.invalid || !form.dirty"
  (closeButton)="dialog.closeAll()"
  (confirmButton)="saveScheduleData(); dialog.closeAll()"
></app-action-buttons>
