<app-header [isPrivate]="false" />

<app-card-container [title]="'Nova senha'">
  <form class="flex flex-col" [formGroup]="profileForm">

    <app-password [password]="profileForm.controls.password" [label]="'Senha'"></app-password>
    <app-password [password]="profileForm.controls.confirmPassword" [label]="'Confirmar senha'"></app-password>

    <mat-card-actions class="flex justify-around">
      <button mat-raised-button color="secundary" (click)="goToLogin()">Cancelar</button>
      <button mat-raised-button color="primary" (click)="onSubmit()">Enviar</button>
    </mat-card-actions>
  </form>
</app-card-container>