<app-header [isPrivate]="true">
  <button mat-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="flex w-full justify-end">
    <button mat-icon-button aria-label="Adicionar Prestador" (click)="
        openDialog({
          id: 0,
          nome: '',
          telefone: '',
          login_usuario: ''
        })
      ">
      <mat-icon style="color: white">add_circle_outline</mat-icon>
    </button>
  </div>
</app-header>

<mat-sidenav-container class="h-full">
  <mat-sidenav #snav>
    <app-menu (click)="snav.toggle()"></app-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-list>
      <ng-container *ngFor="let customer of employeeList | async">
        <app-card [cardData]="customer" (edit)="openDialog(customer)"></app-card>
      </ng-container>
    </mat-list>
  </mat-sidenav-content>
</mat-sidenav-container>