<app-header [isPrivate]="true">
  <button mat-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="flex w-full justify-end">
    <button mat-icon-button aria-label="Adicionar Prestador" (click)="
        openDialog({
          id: 0,
          nome: '',
          telefone: '',
          login_usuario: ''
        })
      ">
      <mat-icon style="color: white">add_circle_outline</mat-icon>
    </button>
  </div>
</app-header>

<mat-sidenav-container class="h-full">
  <mat-sidenav #snav>
    <app-menu (click)="snav.toggle()"></app-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-container *ngIf="{ employees : (employeeList$ | async ) } as model ">
      <mat-list >
        @if (model.employees) {
          <ng-container *ngFor="let employee of model.employees">
            <app-card [cardData]="employee" (edit)="openDialog(employee)"></app-card>
          </ng-container>
        } @else {
          <p class="text-xl p-8">
            Desculpe tivemos um erro ao buscar a listagem de funcionários, tente recarregar a página, se o erro persistir faça login novamente.
          </p>
        }
      </mat-list>
    </ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>