<app-schedule-header [calendarDateTitle]="calendarDateTitle" (menuButtonClick)="snav.toggle()"
  (addButtonClick)="insertSchedule()" />

<mat-sidenav-container>
  <mat-sidenav #snav>
    <app-menu (click)="snav.toggle()"></app-menu>
  </mat-sidenav>

  <mat-sidenav-content class="!h-body-height">

    <app-calendar-navigation-desktop class="navigation-desktop" (action)="calendarNavigate($event)"
      (addNewSchedule)="insertSchedule()" />

    <div class="calendar-container">

      <app-calendar-sidenav-desktop class="sidenav-desktop" />

      <full-calendar class="full-calendar" #calendar [options]="calendarOptions"></full-calendar>
    </div>


    <app-calendar-naviagtion class="navigation" [todayIcon]="todayIcon" [title]="calendarDateTitle"
      (action)="calendarNavigate($event)" />

  </mat-sidenav-content>
</mat-sidenav-container>