<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="login">
  <div fxFlex fxLayoutAlign="center center">
    <mat-card class="card">
      <mat-card-title style="margin-bottom: 16px">Entrar</mat-card-title>
      <mat-card-content>
        <form #form="ngForm">
          <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input
              matInput
              autocomplete="off"
              type="text"
              [(ngModel)]="usuario"
              name="usuario"
            />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Senha</mat-label>
            <input
              matInput
              autocomplete="off"
              type="password"
              [(ngModel)]="senha"
              name="senha"
            />
          </mat-form-field>
        </form>

        <p style="margin: 16px 0">
          Não tem uma conta?
          <span routerLink="/cadastro" class="create-account"> Crie uma! </span>
        </p>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="end center">
        <button mat-raised-button color="primary" (click)="onSubmit(form)">
          Entrar
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
