<form [formGroup]="profileForm" class="container-form">
  <mat-list>
    <div class="pb-[80px] sm:pb-0">
      <div class="grid grid-cols-2">
        <mat-list-item style="height: auto">
          <app-name [name]="profileForm.controls.nome"></app-name>
        </mat-list-item>

        <mat-list-item style="height: auto">
          <mat-form-field class="w-full">
            <mat-label>Pseudônimo</mat-label>
            <input matInput type="text" formControlName="socialName" />
          </mat-form-field>
        </mat-list-item>
      </div>

      <mat-divider></mat-divider>

      <div mat-subheader class="flex"><mat-icon mat-list-icon>phone</mat-icon> Contato</div>

      <div class="grid grid-cols-2">
        <mat-list-item style="height: auto">
          <app-phone [label]="'Telefone Celular'" [phone]="profileForm.controls.telefone1"></app-phone>
        </mat-list-item>

        <mat-list-item style="height: auto">
          <app-phone [label]="'Telefone Alternativo'" [phone]="profileForm.controls.telefone2" [required]="false"></app-phone>
        </mat-list-item>

        <mat-list-item style="height: auto">
          <app-email [email]="profileForm.controls.email"></app-email>
        </mat-list-item>
      </div>

      <mat-divider></mat-divider>

      <div mat-subheader class="flex"><mat-icon mat-list-icon>person</mat-icon>Outros</div>

      <div class="grid grid-cols-2">
        <mat-list-item style="height: auto">
          <mat-form-field class="w-full">
            <mat-label>Profissão</mat-label>
            <input matInput type="text" formControlName="ocupacao" />
          </mat-form-field>
        </mat-list-item>

        <mat-list-item style="height: auto">
          <mat-form-field class="w-full">
            <mat-label>Endereço</mat-label>
            <input matInput type="text" formControlName="endereco" />
          </mat-form-field>
        </mat-list-item>
      </div>

      <div class="grid grid-cols-2">
        <mat-list-item style="height: auto">
          <mat-form-field class="w-full">
            <mat-label>Aniversário</mat-label>
            <input matInput type="text" formControlName="nascimento" mask="00/00/0000" placeholder="dd/mm/aaaa" />
            <mat-hint>Formato: dia/ mês/ ano</mat-hint>
            <mat-error *ngIf="profileForm.get('nascimento')?.hasError('invalidFormat')"> Formato inválido </mat-error>
          </mat-form-field>
        </mat-list-item>

        <mat-list-item style="height: auto">
          <mat-form-field class="w-full">
            <mat-label>Indicação</mat-label>
            <input matInput type="text" formControlName="indicacao" />
          </mat-form-field>
        </mat-list-item>
      </div>
    </div>
    <div class="sm:static fixed bottom-0 left-0 right-0 bg-white p-4 pb-0 shadow-md z-50 sm:p-0 sm:shadow-none sm:bg-transparent sm:pr-5">
      <app-action-buttons
        [disableConfirmButton]="profileForm.invalid || !profileForm.dirty"
        (confirmButton)="onSave()"
        [secondaryButtonLabel]="'Limpar alterações'"
        (closeButton)="clearForm()"
      >
      </app-action-buttons>
    </div>
  </mat-list>
</form>
