.container-form {
  margin-top: 24px;
  overflow: hidden;
}

mat-icon {
  margin-right: 32px;
  color: lightgray;
}

@media (min-width: 600px) {
  .container-form {
    max-width: 800px !important;
    min-width: auto !important;
    margin: 0 auto;
  }
}
