section {
  margin: 5rem auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #f8fafc;
}

.swiper-container {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 7rem auto;
  overflow-x: hidden;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-title {
  font-size: 1.2rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #5245e8;
}

.portfolio-description {
  margin-top: 0.5rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 800;
  letter-spacing: -0.025em;
  color: #111827;
}

.text-center {
  text-align: center;
}

.card {
  border-radius: 8px;
  margin: 1rem auto;
  box-shadow: 0 4px 8px #0000001a;
  max-width: 300px;
  width: 100%;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 1rem auto;
}

.card-content {
  padding: 16px;
  text-align: center;
}

.card-title {
  font-size: 1.2rem;
  margin: 8px 0;
  font-weight: bold;
}

.card-description {
  font-size: 1rem;
  color: #555;
  margin-bottom: 16px;
}

@media (max-width: 1024px) {
  .swiper-container {
    max-width: 1000px;
  }

  .swiper-slide {
    flex-direction: column;
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  .portfolio-description {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .swiper-container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .swiper-slide {
    max-width: 100%;
    flex-direction: column;
  }

  .card-img {
    height: 150px;
  }

  .card-title {
    font-size: 1rem;
  }

  .card-description {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .swiper-container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .card {
    max-width: 90%;
  }

  .card-img {
    height: 120px;
  }

  .card-title {
    font-size: 0.9rem;
  }

  .card-description {
    font-size: 0.8rem;
  }
}