.icon {
  width: 40px !important;
  height: 40px !important;
  color: #fff !important;
}

// Gallery

mat-grid-tile {
  background: lightblue;
}

@media (min-width: 600px) {
  .list {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 70px;
  }
}
