<app-header *ngIf="hasHeader" [isPrivate]="true">
  <button *ngIf="tabSelected() == 0" mat-button routerLink="/clientes">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <div class="flex justify-between w-full items-center">
    <button *ngIf="tabSelected() !== 0" mat-button routerLink="/clientes">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <button *ngIf="tabSelected() == 1" mat-icon-button (click)="addSchedule()" class="icon-right" aria-label="Adicionar agendamento">
      <mat-icon>add_box</mat-icon>
    </button>

    <div *ngIf="tabSelected() == 2">
      <button mat-button>
        <mat-icon>photo_camera</mat-icon>
      </button>
      <input type="file" (change)="inputFileChange($event)" class="input-photo" />
    </div>
  </div>
</app-header>

<mat-sidenav-container class="h-body-height">
  <mat-sidenav-content>
    <div *ngIf="!loading">
      <mat-list>
        <app-card [cardData]="cardData" [showEdit]="false"></app-card>
      </mat-list>

      <mat-tab-group mat-align-tabs="center" [selectedIndex]="tabSelected" (selectedIndexChange)="selectedIndexChange($event)">
        <mat-tab label="Dados">
          <app-customer-complete-registration [data]="data" />
        </mat-tab>

        <mat-tab label="Histórico">
          <app-record-list *ngIf="records?.length" [data]="records"></app-record-list>
        </mat-tab>

        <mat-tab label="Documentos">
          <div *ngIf="!photos?.length" style="text-align: center">Cadastre a primeira foto do cliente</div>
          <img *ngFor="let photo of photos" height="100px" src="{{ photo.url }}" />
        </mat-tab>
      </mat-tab-group>
    </div>
    <app-spinner *ngIf="loading" />
  </mat-sidenav-content>
</mat-sidenav-container>
