<mat-toolbar color="primary" fxLayoutAlign="space-between center">
  <button mat-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <button
    mat-icon-button
    aria-label="Adicionar Prestador"
    (click)="
      openDialog({
        nome: '',
        telefones: [{ id: 0, numero: '' }],
        email: ''
      })
    "
  >
    <mat-icon style="font-size: 30px; color: white"
      >add_circle_outline</mat-icon
    >
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #snav>
    <app-menu></app-menu>
  </mat-sidenav>

  <mat-sidenav-content style="height: calc(100vh - 70px)" *ngIf="show">
      <div style="width: 96vw; max-width: 500px;">
        <app-card [customerList]="customerList"></app-card>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>
