<mat-toolbar color="primary" fxLayoutAlign="space-between center">
  <button mat-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <button
    mat-icon-button
    aria-label="Adicionar Prestador"
    (click)="
      openDialog({
        nome: '',
        telefones: [{ id: 0, numero: '' }],
        email: ''
      })
    "
  >
    <mat-icon style="font-size: 30px; color: white"
      >add_circle_outline</mat-icon
    >
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #snav>
    <app-menu></app-menu>
  </mat-sidenav>

  <mat-sidenav-content style="height: calc(100vh - 70px)">
      <div style="width: 96vw; max-width: 500px;">
          <mat-list>
            <div *ngFor="let customer of customerList">
              <mat-list-item >
                <div
                  fxFlex
                  fxLayoutAlign="center center"
                  fxFlex="66"
                  style="cursor: pointer"
                >
                  <div
                    mat-list-icon
                    fxLayoutAlign="center center"
                    [style]="customer.nome | iconColor"
                    class="icon"
                  >
                    <span fxLayoutAlign="center center">
                      {{ customer.nome | iconCustomer }}
                    </span>
                  </div>
                  <div fxFlex style="margin-left: 16px" fxFlex="80">
                    <div mat-line>
                      {{ customer.nome }}
                    </div>
                    <div mat-line>
                      {{ customer.telefone | formatPhone }}
                    </div>
                  </div>
                </div>
  
                <a href="tel:{{ customer.telefone }}" target="_blank">
                  <button mat-icon-button aria-label="Telefone">
                    <mat-icon style="color: black">phone</mat-icon>
                  </button>
                </a>
  
                <button
                  mat-icon-button
                  aria-label="Ediar cliente"
                  (click)="openDialog(customer)"
                >
                  <mat-icon style="color: black">edit</mat-icon>
                </button>
  
                <a
                  href="https://api.whatsapp.com/send?phone=55{{
                    customer.telefone
                  }}text=Ol%C3%A1"
                  target="_blank"
                >
                  <app-whatsapp-icon></app-whatsapp-icon>
                </a>
  
                <mat-divider></mat-divider>
              </mat-list-item>
            </div>
          </mat-list>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>
