<h1 mat-dialog-title>Novo Agendamento</h1>
<div mat-dialog-content>
  <form #form="ngForm">
    <div>
      <mat-form-field>
        <mat-label>Título</mat-label>
        <input
          matInput
          placeholder="Nome do Serviço"
          autocomplete="off"
          type="text"
          [(ngModel)]="title"
          name="title"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Descrição</mat-label>
        <input
          matInput
          placeholder="Descrição"
          autocomplete="off"
          type="text"
          [(ngModel)]="description"
          name="description"
        />
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button
    mat-button
    [mat-dialog-close]="{
      data: data,
      title: title,
      description: description
    }"
  >
    Cadastrar
  </button>
</div>
