<h1 mat-dialog-title>Novo Agendamento</h1>
<div mat-dialog-content>
  <form #form="ngForm">
    <div>
      <mat-form-field>
        <mat-label>Título</mat-label>
        <input
          matInput
          placeholder="Nome do Serviço"
          autocomplete="off"
          type="text"
          [(ngModel)]="title"
          name="title"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Cliente</mat-label>
        <mat-select [(ngModel)]="customer" name="state">
          <mat-option>Seleciona um cliente</mat-option>
          <mat-option *ngFor="let state of states" [value]="state"  >{{state}}</mat-option>
        </mat-select>
      </mat-form-field>
      <p>{{customer}}</p>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button
    mat-button
    [mat-dialog-close]="{
      data: data,
      title: title,
      customer: customer
    }"
  >
    Cadastrar
  </button>
</div>
