<h1 mat-dialog-title>Novo Agendamento</h1>
<div mat-dialog-content>
  <form>
    <mat-form-field>
      <mat-label>Título</mat-label>
      <input
        matInput
        placeholder="Nome do Serviço"
        autocomplete="off"
        type="text"
        [(ngModel)]="title"
        name="title"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Cliente</mat-label>
      <input
        type="text"
        placeholder="Pesquise um Cliente"
        aria-label="Pesquisa de Cliente"
        matInput
        [(ngModel)]="customer"
        [formControl]="customerControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <p>{{ customer }}</p>

    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button
    mat-button
    [mat-dialog-close]="{
      data: data,
      title: title,
      customer: customer
    }"
  >
    Cadastrar
  </button>
</div>
