<section class="py-12">
  <div class="max-w-6xl my-16 mx-auto px-4 md:flex-col  sm:px-6 lg:px-8">
    <div class="text-center">
      <h2 class="text-base font-semibold tracking-wide text-indigo-600 uppercase">Sobre</h2>
      <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
          Nossa História
      </p>
    </div>
    <div class="flex flex-wrap md:flex flex-col items-center mt-16">
      <div class="w-full md:w-7/1 px-4 mr-auto ml-auto">
        <h3 class="text-3xl mb-2 font-semibold leading-normal">
          Lorem Ipsum
        </h3>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus, voluptate eaque nisi tempora fugiat, ab odit dolores ipsum voluptatibus cum, repellat aliquam iste! Fugit commodi quam cumque, quidem mollitia dolor.
        </p>
        <p class="text-lg font-light leading-relaxed mt-0 mb-4 text-blueGray-600">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa minima maxime numquam quisquam. Ipsam iure culpa ea quibusdam accusamus est accusantium iste necessitatibus ducimus officia. Dolores eligendi enim repellat nesciunt?
        </p>
        <button type="button" class="text-black w-28 mt-8 bg-amber-400 hover:bg-amber-500 focus:outline-none font-medium rounded-lg text-sm px-4 py-2 text-center">Saiba Mais</button>
      </div>
      <div class="w-full md:w-2/4 px-4 mr-auto ml-auto">
        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-2 shadow-lg rounded-lg bg-pink-500">
          <img alt="" src="/assets/images-landing-page/about.png" class="w-full align-middle">
        </div>
      </div>
    </div>
  </div>
</section>
