<section class="py-12">
  <div class="max-w-6xl my-16 mx-auto px-4 md:flex-col  sm:px-6 lg:px-8">
    <div class="text-center">
      <h2 class="text-base font-semibold tracking-wide text-indigo-600 uppercase">Sobre</h2>
      <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
          Nossa História
      </p>
    </div>
    <div class="flex flex-wrap md:flex flex-col items-center mt-16">
      <div class="w-full md:w-7/1 px-4 mr-auto ml-auto">
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
          Nosso sistema de agendamento surgiu de uma necessidade real e próxima. Ao observar as dificuldades que sua mãe enfrentava para organizar seus compromissos de forma eficiente, o criador e desenvolvedor do sistema percebeu como a falta de um controle eficaz de agendamentos podia impactar a rotina diária. A partir dessa experiência, nasceu a ideia de criar uma solução que fosse simples, acessível e capaz de facilitar o dia a dia de quem precisa gerenciar múltiplos compromissos.
        </p>
        <p class="text-lg font-light leading-relaxed mt-0 mb-4 text-blueGray-600">
          Dessa inspiração, desenvolvemos uma plataforma robusta e intuitiva que pode ser utilizada por qualquer tipo de serviço que dependa de agendamentos. Nosso objetivo é simplificar a vida tanto de prestadores de serviços quanto de seus clientes, oferecendo uma ferramenta confiável para manter o controle de compromissos de maneira organizada e profissional.
        </p>
        <p class="text-lg font-light leading-relaxed mt-0 mb-4 text-blueGray-600">
          Combinando tecnologia de ponta e uma interface amigável, nosso sistema foi projetado para facilitar a gestão do tempo, permitindo que os usuários foquem no que realmente importa: o atendimento e o desenvolvimento de seus negócios. Seja você um profissional autônomo ou parte de uma grande empresa, nossa plataforma é flexível para atender suas necessidades.
        </p>
        <p class="text-lg font-light leading-relaxed mt-0 mb-4 text-blueGray-600">
          Estamos comprometidos em fornecer uma solução que se adapte às suas demandas, ajudando a otimizar seu tempo e a melhorar a experiência de seus clientes.
        </p>
        <button type="button" class="text-black w-28 mt-8 bg-amber-400 hover:bg-amber-500 focus:outline-none font-medium rounded-lg text-sm px-4 py-2 text-center">Saiba Mais</button>
      </div>
      <div class="w-full md:w-2/4 px-4 mr-auto ml-auto">
        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-2 shadow-lg rounded-lg bg-pink-500">
          <img alt="" src="/assets/images-landing-page/about.png" class="w-full align-middle">
        </div>
      </div>
    </div>
  </div>
</section>
