<div class="flex items-end">
  <a href="tel:{{ customer.telefone }}" target="_blank" class="hover:rounded-full hover:bg-gray-200">
    <mat-icon class="m-2" style="color: black">phone</mat-icon>
  </a>

  @if (showEdit) {
    <button mat-icon-button aria-label="Ediar cliente" (click)="openDialog()" class="hover:rounded-full hover:bg-gray-200">
      <mat-icon style="color: black" class="m-2">edit</mat-icon>
    </button>
  }

  <a href="https://api.whatsapp.com/send?phone=55{{ customer.telefone }}text=Ol%C3%A1" target="_blank">
    <app-whatsapp-icon></app-whatsapp-icon>
  </a>
</div>
