<div class="flex">
  <img src="../../../../../../../../assets/images/logo.svg"
    class="logo h-8 cursor-pointer mx-10 mr-72 max-lg:mr-10 max-md:hidden" />

  <div class="flex justify-around">
    <button mat-stroked-button (click)="change('today')">
      <mat-icon class="icon" aria-hidden="false" aria-label="Hoje">
        event_repeat
      </mat-icon>
      <span>Hoje</span>
    </button>

    <button mat-button (click)="change('prev')">
      <mat-icon class="icon" aria-hidden="false" aria-label="volta">
        arrow_back_ios</mat-icon>
    </button>

    <button mat-button (click)="change('next')">
      <mat-icon class="icon" aria-hidden="false" aria-label="volta">
        arrow_forward_ios</mat-icon>
    </button>
  </div>
</div>