.icon {
  width: 40px !important;
  height: 40px !important;
  color: #fff !important;
}
.header {
  position: fixed;
  padding-left: 0;
  z-index: 9;
}

.list {
  margin-top: 56px;
  margin-bottom: 56px;
  width: 99vw;
}
@media (min-width: 600px) {
  .header {
    justify-content: center !important;
    width: 500px;
    top: 0;
    left: calc((100vw - 500px) / 2);
    .menu {
      display: none;
    }

    mat-form-field {
      width: 300px;
    }
  }
  .list {
    margin-top: 40px !important;
    width: 601px;
    margin: 0 auto;
    max-height: calc(100vh - 150px);
    overflow: auto;
  }
}
