<div fxFlex fxLayout="column">
  <mat-toolbar
    color="primary"
    fxFlex
    fxLayoutAlign="space-between center"
    style="position: fixed; padding-left: 0; z-index: 9"
  >
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">Sair</button>
    </mat-menu>

    <form>
      <mat-form-field>
        <input matInput />
      </mat-form-field>
      <button mat-icon-button aria-label="Pesquisar clientes">
        <mat-icon>search</mat-icon>
      </button>
      <button
        mat-icon-button
        aria-label="Adicionar clientes"
        (click)="openDialog()"
      >
        <mat-icon>add_box</mat-icon>
      </button>
    </form>
  </mat-toolbar>
  <div style="margin-top: 56px; margin-bottom: 56px; width: 100vw">
    <div *ngFor="let letter of letters">
      <mat-list>
        <div mat-subheader>{{ letter }}</div>
        <div *ngFor="let customer of customerList">
          <mat-list-item *ngIf="letter == customer.inicial">
            <div
              mat-list-icon
              style="width: 40px; height: 40px; background-color: red"
            ></div>
            <div mat-line>
              {{ customer.nome }}
            </div>
            <div mat-line>
              {{ customer.telefones[0].numero }}
            </div>
            <div mat-line>
              {{ customer.email }}
            </div>
            <button mat-icon-button aria-label="Telefone">
              <mat-icon>phone</mat-icon>
            </button>
            <app-whatsapp-icon></app-whatsapp-icon>
            <mat-divider></mat-divider>
          </mat-list-item>
        </div>
      </mat-list>
    </div>
  </div>
</div>
