<div fxFlex fxLayout="column">
  <mat-toolbar
    color="primary"
    fxFlex
    fxLayoutAlign="space-between center"
    style="position: fixed; padding-left: 0; z-index: 9"
  >
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">Sair</button>
    </mat-menu>

    <form>
      <mat-form-field>
        <input matInput #searchBox name="search" />
      </mat-form-field>
      <button
        mat-icon-button
        aria-label="Pesquisar clientes"
        [disabled]="!search"
      >
        <mat-icon *ngIf="!search" style="color: white">search</mat-icon>
        <mat-icon *ngIf="search" (click)="searchBox.value = ''; search = ''"
          >close</mat-icon
        >
      </button>
      <button
        mat-icon-button
        aria-label="Adicionar clientes"
        (click)="
          openDialog({
            nome: '',
            telefones: [{ id: 0, numero: '' }],
            email: ''
          })
        "
      >
        <mat-icon>add_box</mat-icon>
      </button>
    </form>
  </mat-toolbar>
  <div style="margin-top: 56px; margin-bottom: 56px; width: 100vw">
    <div
      *ngFor="let letter of letters"
      [style]="
        checklistContent(customerList | arrayFiltro: search, letter)
          ? ''
          : 'display:none'
      "
    >
      <div mat-subheader *ngIf="customerList.length && !search">
        {{ letter }}
      </div>
      <mat-list
        *ngIf="checklistContent(customerList | arrayFiltro: search, letter)"
      >
        <div *ngFor="let customer of customerList | arrayFiltro: search">
          <mat-list-item *ngIf="letter == customer.inicial">
            <div
              fxFlex
              fxLayoutAlign="center center"
              fxFlex="66"
              routerLink="ficha/{{ customer.id }}"
            >
              <div
                mat-list-icon
                fxLayoutAlign="center center"
                [style]="customer.nome | iconColor"
                class="icon"
              >
                <span fxLayoutAlign="center center">
                  {{ customer.nome | iconCustomer }}
                </span>
              </div>
              <div fxFlex style="margin-left: 16px" fxFlex="80">
                <div mat-line>
                  {{ customer.nome }}
                </div>
                <div mat-line>
                  {{ customer.telefone1 | formatPhone }}
                </div>
                <div mat-line>
                  {{ customer.email }}
                </div>
              </div>
            </div>

            <a href="tel:{{ customer.telefone1 }}" target="_blank">
              <button mat-icon-button aria-label="Telefone">
                <mat-icon style="color: black">phone</mat-icon>
              </button>
            </a>

            <button
              mat-icon-button
              aria-label="Ediar cliente"
              (click)="openDialog(customer)"
            >
              <mat-icon style="color: black">edit</mat-icon>
            </button>

            <a
              href="https://api.whatsapp.com/send?phone=55{{
                customer.telefone1
              }}text=Ol%C3%A1"
              target="_blank"
            >
              <app-whatsapp-icon></app-whatsapp-icon>
            </a>

            <mat-divider></mat-divider>
          </mat-list-item>
        </div>
      </mat-list>
    </div>
  </div>

  <div fxFlex *ngIf="!customerList.length && !search">
    <h1 fxLayoutAlign="center" *ngIf="loading">Estamos buscando seus dados</h1>
    <h1 fxLayoutAlign="center" *ngIf="!loading">
      Cadastre seu primeiro cliente
    </h1>
  </div>

  <div fxFlex *ngIf="!(customerList | arrayFiltro: search).length && search">
    <h1 fxLayoutAlign="center">Não encontramos o nome {{ search }}</h1>
  </div>
</div>
