<header>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <img class="logo" ngSrc="assets/images/logo.svg" width="100" height="50" alt="Logo SysMei">
    <span class="spacer"></span>
    <button mat-button>Produto</button>
    <button mat-button>Preço</button>
    <button mat-button>Contato</button>
    <span class="spacer"></span>
    <button mat-raised-button>Cadastrar</button>
    <button class="btn-login" mat-button>Login</button>
  </mat-toolbar>
</header>
