section {
  padding: 0 2rem;
}

mat-toolbar {
  box-shadow: 2px 2px 4px 0 rgba($color: #000000, $alpha: 0.3);
}

.spacer {
  flex: 1 1 auto;
}

.btn-login {
  margin-left: 0.1rem;
}

.logo {
  width: 120px;
}
