.example-spacer {
  flex: 1 1 auto;
}

.btn-login {
  margin-left: 0.1rem;
}

.hero-container {
  text-align: center;
  padding: 100px 20px;
  // background: url('./assets/img/agenda.png') no-repeat center center;
  background-size: cover;
  color: black;
}
