<app-header></app-header>
<section class="hero-container" color="primary">
  <h1>Bem-vindo ao SysMei!</h1>
  <p>
    Sua solução completa para a gestão de microempreendedores individuais.
  </p>
  <button mat-raised-button color="accent">Saiba Mais</button>
  <img src="./assets/img/agenda.png" alt="">
</section>

<section class="produto">
  <div class="text-produto">
    <h1>Sistema de gerenciamento de serviço na palma da mão!</h1>
  </div>
  <div class="images-produto">
    <img class="" ngSrc="assets/images-landing-page/agendamento.png" width="400" height="600" alt="">
    <img class="" ngSrc="assets/images-landing-page/login.png" width="400" height="600" alt="">
    <img class="" ngSrc="assets/images-landing-page/agenda.png" width="400" height="600" alt="">
  </div>
</section>

<app-pricing></app-pricing>

<app-faq></app-faq>

<app-footer></app-footer>