.hero-container {
  height: calc(100vh);
  background-size: cover;
  background-position: 0 -200px;
  // background-image: url('../../../assets/images-landing-page/bg-agenda.jpg');
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-hero {
  color: black;
  padding: 20px;
  max-width: 720px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  h1 {
    text-align: center;
    font-weight: 500;
    font-size: 42px;
  }
  p {
    line-height: 1.3;
    font-size: 24px;
  }
}

.produto {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.produto .text-produto h1 {
  max-width: 400px;
  text-align: end;
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 1.1;
}

.produto img {
  width: 400px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 0 rgba($color: #000000, $alpha: 0.3);
}

.images-produto {
  position: relative;
  width: 400px;
  height: 600px;
}

.images-produto img {
  width: 400px;
}

.images-produto img:nth-child(1) {
  position: absolute;
  z-index: 4;
  top: calc(0px + 100px);
  left: 25px;
}

.images-produto img:nth-child(2) {
  position: absolute;
  z-index: 4;
  top: calc(50px + 100px);
  left: 50px;
}
.images-produto img:nth-child(3) {
  position: absolute;
  z-index: 4;
  top: calc(100px + 100px);
  left: 75px;
}
