<header>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <img class="logo" src="../../../assets/images/logo.svg" alt="Logo SysMei">
    <span class="spacer"></span>
    <button mat-button>Produto</button>
    <button mat-button>Preço</button>
    <button mat-button>Contato</button>
    <span class="spacer"></span>
    <button mat-raised-button>Cadastrar</button>
    <button class="btn-login" mat-button>Login</button>
  </mat-toolbar>
</header>

<section class="hero-container" color="primary">
  <h1>Bem-vindo ao SysMei!</h1>
  <p>
    Sua solução completa para a gestão de microempreendedores individuais.
  </p>
  <button mat-raised-button color="accent">Saiba Mais</button>
  <img src="./assets/img/agenda.png" alt="">
</section>

<section class="produto">
  <div class="text-produto">
    <h1>Sistema de gerenciamento de serviço na palma da mão!</h1>
  </div>
  <div class="images-produto">
    <img class="" src="../../../assets/images-landing-page/agendamento.png" alt="">
    <img class="" src="../../../assets/images-landing-page/login.png" alt="">
    <img class="" src="../../../assets/images-landing-page/agenda.png" alt="">
  </div>
</section>

<section class="preco"></section>
<section class="faq"></section>

<mat-toolbar color="primary">
  <span>© 2024 SysMei</span>
</mat-toolbar>