<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>SysMei</span>
  <span class="example-spacer"></span>
  <button mat-button>Produto</button>
  <button mat-button>Preço</button>
  <button mat-button>Contato</button>
  <span class="example-spacer"></span>
  <button mat-raised-button>Cadastrar</button>
  <button class="btn-login" mat-button>Login</button>
</mat-toolbar>

<div class="hero-container" color="primary">
  <h1>Bem-vindo à Nossa Landing Page</h1>
  <p>Descubra nossos serviços e soluções</p>
  <button mat-raised-button color="accent">Saiba Mais</button>
</div>

<mat-toolbar color="primary">
  <span>© 2024 SysMei</span>
</mat-toolbar>
