<div class="flex items-center justify-center w-full p-2 bg-primary text-white">
    <h3 class="!m-0 flex-1 !ml-4">Detalhes do agendamento</h3>
    <button mat-button [mat-dialog-close]="true" color="white">
        <mat-icon class="!m-0">close</mat-icon>
    </button>
</div>
<div class="flex w-full text-end p-2 justify-end">
    <mat-icon class="!m-0 !mr-4 cursor-pointer" (click)="onEdit()">edit</mat-icon>
    <mat-icon class="!m-0 !mr-4 cursor-pointer" (click)="onDelete()">delete</mat-icon>
    <mat-icon class="!m-0 !mr-4 cursor-pointer">more_vert</mat-icon>
</div>
<div class="flex items-center justify-start p-4 pb-2">
    <app-badge [name]="'Lucas Reis Caputo'" class="mr-4"></app-badge>

    <app-contact-info [info]="{
        id: data.customer?.id || 0,
        login_usuario: data.customer?.login_usuario || '',
        nome: data.customer?.nome || '',
        telefone: data.customer?.telefone1 || ''
    }"></app-contact-info>
    <app-whatsapp-icon [phone]="data.customer?.telefone1 || ''"></app-whatsapp-icon>

</div>
<p class="text-center text-sm !m-3">
    {{ data.start | date: 'fullDate' }} - {{ data.start | date: 'HH:mm' }} às {{ data.end | date: 'HH:mm' }}
</p>

<form [formGroup]="statusForm">
    <mat-form-field class="px-4 py-2 w-full">
        <mat-select formControlName="status" (valueChange)="updateStatus($event)" name="Status" placeholder="Status do atendimento">
            <mat-option [value]="0">Confirmar</mat-option>
            <mat-option [value]="1">Confirmado</mat-option>
            <mat-option [value]="2">Desmarcou</mat-option>
            <mat-option [value]="3">Atendido</mat-option>
            <mat-option [value]="4">Faltou</mat-option>
        </mat-select>
    </mat-form-field>
</form>


<div class="grid">
    <div class="flex items-center ml-4">
        <mat-icon class="mr-3">person</mat-icon>
        <p class="!m-0">{{ data.employee?.nome}}</p>
    </div>
    <div class="flex items-center mb-2 ml-4">
        <mat-icon class="mr-3">call</mat-icon>
        <p class="!m-0">{{ data.employee?.telefone || '' | formatPhone}}</p>
        <app-whatsapp-icon [phone]="data.employee?.telefone || ''"></app-whatsapp-icon>
    </div>
</div>