<app-schedule-header [calendarDateTitle]="calendarDateTitle" (menuButtonClick)="snav.toggle()"
  (addButtonClick)="insertSchedule()" />

<mat-sidenav-container>
  <mat-sidenav #snav>
    <app-menu (click)="snav.toggle()"></app-menu>
  </mat-sidenav>

  <mat-sidenav-content class="h-body-height">

    <full-calendar #calendar [options]="calendarOptions"></full-calendar>

    <app-calendar-naviagtion [todayIcon]="todayIcon" [title]="calendarDateTitle" (action)="calendarNavigate($event)">
    </app-calendar-naviagtion>
  </mat-sidenav-content>
</mat-sidenav-container>