<app-mobile-action-buttons [title]="!data.id ? 'Cadastrar cliente' : 'Editar cliente'"
  [disableConfirmButton]="form.invalid || !form.dirty" (closeButton)="dialog.closeAll()"
  (confirmButton)="saveCustomer(); dialog.closeAll()" />

<div mat-dialog-content>
  <form [formGroup]="form" class="flex flex-col">
    <app-name [name]="form.controls.nome" />

    <app-phone [phone]="form.controls.telefone1" [label]="'Telefone'" />

    <app-email [email]="form.controls.email" />
  </form>

  <app-action-buttons [disableConfirmButton]="form.invalid || !form.dirty" (closeButton)="dialog.closeAll()"
    (confirmButton)="saveCustomer(); dialog.closeAll()"></app-action-buttons>

  <div class="flex justify-end">
    <button *ngIf="data.nome" color="warn" mat-icon-button aria-label="Excluir" (click)="onDelete(data)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>