<section id="home" class="overflow-hidden">
  <section class="hero-container" color="primary">

    <div class="content-hero">
      <div class="image-hero">
        <img src="assets/images-landing-page/woman-calendar.png" width="700" height="700" alt="">
      </div>
      <div class="text-hero">
        <h1 class="text-5xl font-extrabold text-gray-900">Gerencie seu dia-a-dia <span>&</span> Aumente sua produtividade nos negócios.</h1>
        <p class="text-gray-600">
          Cadastro de cliente, prestador de serviço, agendamento de serviços, orçamentos, esses são algumas das nossas ferramentas para você administrar seu negócio de uma forma simples e prática.
        </p>
        <button type="button" class="text-black w-28 bg-amber-400 hover:bg-amber-500 focus:outline-none font-medium rounded-lg text-sm px-4 py-2 text-center">Saiba Mais</button>
      </div>
    </div>
  </section>

  <section class="produto bg-slate-50">
    <div class="flex p-4 justify-items-start justify-start">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 ">
        <div class="text-center">
          <h2 class="text-base font-semibold tracking-wide text-indigo-600 uppercase">Nossas soluções</h2>
          <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">Para Você</p>
        </div>
        <div class="mt-10 grid gap-5 sm:grid-cols-2 lg:grid-cols-3 cards">

          <div class="bg-white rounded-lg shadow-lg overflow-hidden">
            <img class="h-48 w-full" src="assets/images-landing-page/start-project.png" width="50" height="50" alt="Feature 1">
            <div class="p-6">
              <h3 class="text-lg leading-6 font-medium text-gray-900">Eleve sua produtividade</h3>
              <p class="mt-2 text-base text-gray-500">A Sysmei oferece soluções personalizadas que automatizam processos, simplificam a gestão e aumentam a eficiência do seu negócio, permitindo que você foque no crescimento enquanto cuidamos da otimização.</p>
            </div>
          </div>

          <div class="bg-white rounded-lg shadow-lg overflow-hidden">
            <img class="h-48 w-full object-cover" src="assets/images-landing-page/business-plan.png" alt="Feature 2">
            <div class="p-6">
              <h3 class="text-lg leading-6 font-medium text-gray-900">Maior controle do seu negócio</h3>
              <p class="mt-2 text-base text-gray-500">A Sysmei proporciona soluções que oferecem um controle mais preciso e eficiente do seu negócio. Com ferramentas personalizadas, ajudamos a otimizar processos, automatizar tarefas e fornecer insights estratégicos, garantindo que você tenha total domínio sobre cada aspecto da sua empresa. Eleve sua gestão e alcance novos níveis de sucesso com a Sysmei.</p>
            </div>
          </div>

          <div class="bg-white rounded-lg shadow-lg overflow-hidden">
            <img class="h-48 w-full object-cover" src="assets/images-landing-page/team-work-y.png" alt="Feature 3">
            <div class="p-6">
              <h3 class="text-lg leading-6 font-medium text-gray-900">Alcance suas metas</h3>
              <p class="mt-2 text-base text-gray-500">A Sysmei está comprometida em ajudar você a atingir seus objetivos de negócio. Com nossas soluções personalizadas, facilitamos o planejamento e a execução de estratégias, tornando o caminho para suas metas mais claro e acessível. Deixe a Sysmei ser sua parceira na jornada para o sucesso, garantindo que cada meta seja alcançada com eficiência e precisão.</p>
            </div>
          </div>
        </div>
        <button type="button" class="text-black w-28 mt-8 bg-amber-400 hover:bg-amber-500 focus:outline-none font-medium rounded-lg text-sm px-4 py-2 text-center">Saiba Mais</button>
      </div>
    </div>
  </section>

</section>
