:host {
    height: calc(100vh - 150px);
    overflow: auto;
    width: 400px;
}

.calendar-sidenav {
    height: 250px;
}

::ng-deep {
    .fc .fc-highlight {
        background: #fdff0052;
    }


    .fc .fc-bg-event {
        opacity: 0.5;
    }

}