<form [formGroup]="form">
  <app-mobile-action-buttons [title]="!data.id ? 'Cadastrar prestador' : 'Editar prestador'"
    [disableConfirmButton]="form.invalid || !form.dirty" (closeButton)="dialog.closeAll()"
    (confirmButton)="saveEmployee(); dialog.closeAll()" />

  <div mat-dialog-content class="dialog-content">
    <app-name [name]="form.controls.nome" />

    <app-phone [phone]="form.controls.telefone" [label]="'Telefone'" />

    <app-action-buttons [disableConfirmButton]="form.invalid || !form.dirty" (closeButton)="dialog.closeAll()"
      (confirmButton)="saveEmployee(); dialog.closeAll()"></app-action-buttons>

    <div class="flex justify-end items-center">
      <button *ngIf="data.nome" color="warn" mat-icon-button aria-label="Excluir" (click)="onDelete(data)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</form>