/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bg-error {
  background-color: #f44336;
  color: white;
  margin-top: 70px !important;

  .mat-button-wrapper {
    color: white;
  }
}

.bg-success {
  background-color: rgb(50, 107, 153);
  color: white;
  margin-top: 70px !important;

  .mat-button-wrapper {
    color: white;
  }
}

@media (max-width: 650px) {
  .fc-header-toolbar {
    flex-direction: column;
    .fc-toolbar-chunk:first-child {
      align-self: end;
    }
    .fc-toolbar-chunk:last-child {
      align-self: flex-end;
    }
  }

  full-calendar {
    height: calc(100vh - 105px);

    .fc-toolbar-chunk {
      &:first-child {
        margin-left: 4px;
      }

      &:nth-child(2) {
        position: absolute;
        top: 86px;
        left: 10px;
        font-size: 8px;
      }

      &:last-child {
        margin-right: 4px;
      }
    }
  }
}
