@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.bg-error {
  background-color: #f44336;
  color: white;
  margin-top: 70px !important;

  /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
  .mat-button-wrapper {
    color: white;
  }
}

.bg-success {
  background-color: rgb(50, 107, 153);
  color: white;
  margin-top: 70px !important;

  /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
  .mat-button-wrapper {
    color: white;
  }
}

full-calendar {
  .fc-toolbar.fc-header-toolbar {
    margin-bottom: 0 !important;
  }

  .fc-toolbar-title {
    color: #673ab7;
    font-size: 16px;
  }

  .fc-day-today {
    .fc-timegrid-col-frame {
      background-color: #673ab74a !important;
    }

    .fc-scrollgrid-sync-inner {
      background-color: #673ab74a !important;
    }
  }

  .fc-col-header-cell-cushion {
    color: dimgray;
  }

  .fc-timegrid-slot {
    height: 30px !important;
  }

  .fc-timegrid-slot-label-cushion {
    color: dimgray;
  }

  .fc-list-day-cushion {
    color: dimgray;
  }

  .fc-list-event-dot {
    border-color: #9c27b0 !important;
  }
}

// scroll
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #fff;
  /* Cor de fundo da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background: #cbcbcb;
  border-radius: 5px;
  /* Arredonda as bordas do controle de rolagem */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}