/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bg-error {
  background-color: #f44336;
  color: white;
  margin-top: 70px !important;

  .mat-button-wrapper {
    color: white;
  }
}

.bg-success {
  background-color: rgb(50, 107, 153);
  color: white;
  margin-top: 70px !important;

  .mat-button-wrapper {
    color: white;
  }
}

.fc-header-toolbar {
  flex-direction: column;
  .fc-toolbar-chunk:first-child {
    align-self: end;
  }
  .fc-toolbar-chunk:last-child {
    align-self: flex-end;
  }
}

full-calendar {
  height: calc(100vh - 150px);

  .fc-toolbar-chunk {
    &:first-child {
      position: absolute;
      right: 4px;
      top: 66px;
    }

    &:nth-child(2) {
      position: absolute;
      width: 100%;
      top: 12px;
      color: white;
      font-size: 0.6rem;

      .fc-toolbar-title {
        margin: 0 auto;
        width: fit-content;
      }
    }

    &:last-child {
      position: absolute;
      left: 4px;
      top: 66px;
      margin-right: 4px;
    }
  }
}

@media (min-width: 600px) {
  full-calendar {
    max-width: 1000px;
    margin: 0 auto;

    .fc-header-toolbar {
      margin-bottom: 55px !important;
    }

    .fc-scroller-harness {
      .fc-scroller {
        overflow-y: auto !important;
      }
    }

    .fc-toolbar-chunk {
      &:first-child {
        top: 72px;
      }

      &:nth-child(2) {
        padding-top: 5px;
        max-width: 300px;
      }

      &:last-child {
        top: 72px;
      }
    }

    @media (min-width: 1000px) {
      .fc-toolbar-chunk {
        &:first-child {
          top: 72px;
          right: calc((100vw - 1000px) / 2);
        }

        &:last-child {
          top: 72px;
          left: calc((100vw - 1000px) / 2);
        }
      }
    }
  }
}

.fc-button-primary {
  background-color: white !important;
  color: #9c27b0 !important;
  border: 1px solid !important;

  &.fc-button-active {
    background-color: #9c27b0 !important;
    color: white !important;
    border: 1px solid #9c27b0 !important;
  }
}

.fc-day-today {
  .fc-timegrid-col-frame {
    background-color: #673ab74a !important;
  }

  .fc-scrollgrid-sync-inner {
    background-color: #673ab74a !important;
  }
}

.fc-col-header-cell-cushion {
  color: dimgray;
}

.fc-timegrid-slot-label-cushion {
  color: dimgray;
}

.fc-list-day-cushion {
  color: dimgray;
}

.fc-list-event-dot {
  border-color: #9c27b0 !important;
}
