.install-banner {
  position: fixed;
  top: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #fff;
  border-top: 1px solid #ccc;
}
button {
  margin: 10px;
  padding: 10px;
  background: #673ab7;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
