<app-header [isPrivate]="true">
  <div class="flex items-center justify-between w-full">
    <button mat-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div>
      <mat-form-field class="w-48 search-input">
        <mat-label style="color: white;">Busque pelo nome ou telefone</mat-label>
        <input matInput type="text" style="color: white;" #searchBox name="search" />
      </mat-form-field>
      <button mat-icon-button aria-label="Pesquisar clientes" [disabled]="!search"
        (click)="searchBox.value = ''; search = ''">
        <mat-icon *ngIf="!search" style="color: white">search</mat-icon>
        <mat-icon *ngIf="search">close</mat-icon>
      </button>
    </div>
    <button mat-icon-button aria-label="Adicionar clientes" (click)="
        openDialog({
          nome: '',
          telefones: [{ id: 0, numero: '' }],
          email: ''
        })
      ">
      <mat-icon style="color: white">add_circle_outline</mat-icon>
    </button>
  </div>
</app-header>

<mat-sidenav-container>
  <mat-sidenav #snav>
    <app-menu (click)="snav.toggle()"></app-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-container *ngIf="{customerList: (customerList | arrayFiltro: search)} as model">
      <div *ngIf="model.customerList.length" class="flex h-body-height justify-between">
        <div class="max-w-md h-body-height overflow-auto">
          <ng-container *ngFor="let customer of customerList | arrayFiltro: search">
            <div mat-subheader *ngIf="customer.isFirstLetter && !search">
              {{ customer.inicial }}
            </div>
            <mat-list>
              <app-card [cardData]="customer" (edit)="openDialog($event)"
                (click)="navigateToCustomerDetails($event)"></app-card>
            </mat-list>
          </ng-container>
        </div>
        <div *ngIf="(viewPortService.screenSize$| async) !== 'mobile'" class="w-2/4 m-0 mx-auto max-xl">
          <app-customer-record [hasHeader]="false" [customerId]="selectedCustomerId()"></app-customer-record>
        </div>
      </div>

      <div *ngIf="!model.customerList.length && search"
        class="h-body-height flex items-center justify-center text-base flex-col">
        <h1>Não encontramos o cliente</h1>
        <h1>{{ search }}</h1>
      </div>

      <div *ngIf="customerList.length === 0 && !search"
        class="h-body-height flex items-center justify-center text-base flex-col">
        <h1>Adicione seu primeiro cliente</h1>
        <button mat-raised-button color="primary" (click)="
          openDialog({
            nome: '',
            telefones: [{ id: 0, numero: '' }],
            email: ''
          })
        ">Cadastrar</button>
      </div>
    </ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>