::ng-deep {
  .search-input {
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
      background-color: #673ab7 !important;
    }

    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }
}