<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="login">
  <div fxFlex fxLayoutAlign="center center">
    <mat-card class="card">
      <mat-card-title style="margin-bottom: 16px">Criar Conta</mat-card-title>
      <mat-card-content>
        <form #form="ngForm">
          <mat-form-field>
            <mat-label>CPF</mat-label>
            <input
              matInput
              autocomplete="off"
              type="text"
              [(ngModel)]="cpf"
              name="cpf"
              #cpfInput
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Login</mat-label>
            <input
              matInput
              autocomplete="off"
              type="text"
              [(ngModel)]="login"
              name="login"
              #loginInput
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Nome</mat-label>
            <input
              matInput
              autocomplete="off"
              type="text"
              [(ngModel)]="nome"
              name="nome"
              #nomeInput
            />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Senha</mat-label>
            <input
              matInput
              autocomplete="off"
              type="text"
              [(ngModel)]="senha"
              name="senha"
              #senhaInput
            />
          </mat-form-field>
        </form>

        <p style="margin: 16px 0">
          Já tem uma conta?
          <span routerLink="/login" class="create-account"> Faça Login! </span>
        </p>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="end center">
        <button mat-raised-button color="primary" (click)="onSubmit(form)">
          Cadastrar
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
